@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #1A4DB5;
  --primary-purple: #4D31B4;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-[#1A4DB5];
  }
}

